<link rel="stylesheet" href="/css/header.css" />

<!-- create header -->
<header>
  <div><img src="/images/logo.png" /></div>
  <% if(locals.user){%>
  <div id="sign-out"><a href="/users/sign-out">Sign Out</a></div>
  <%}%>
</header>
