<link rel="stylesheet" href="/css/home.css" />
<main>
  <div id="container">
    <div id="left-container">
      <p id="heading">Welcome !</p>
      <div id="sign-in-btn"><a href="/users/sign-in">Sign In</a></div>
      <div id="sign-up-btn"><a href="/users/sign-up">Sign Up</a></div>
    </div>
    <div id="right-container">
      <p id="intro">
        Welcome ! To The Node Js Authentication
      </p>
    </div>
  </div>
</main>
