<link rel="stylesheet" href="/css/profile.css" />
<%- include('_header'); %>
<main>
  <p class="grp">Name: <%=user.name%></p>
  <p class="grp">Email: <%=user.email%></p>
  <div id="reset">
    <div id="enclose">
      <p>Reset Password</p>
      <div id="btn">Edit</div>
    </div>
    <div id="form" class="invisible">
      <form method="POST" action="/users/update/<%=user.id%>">
        <input type="password" name="password" placeholder="Enter New Password" required />
        <input type="submit" value="UPDATE" />
      </form>
    </div>
  </div>
</main>
<script>
  document.getElementById('btn').addEventListener('click', function () {
    document.getElementById('form').classList.toggle('visible');
  });
</script>
