<main>
  <div id="form">
    <form action="/users/create" method="POST">
      <div class="form-grp">
        <%if((typeof err)!="undefined") {%>
        <h3 style="color: red;"><%=err%></h3>
        <%}%>
        <input type="text" name="name" placeholder="Enter Your Name" required />
      </div>
      <div class="form-grp">
        <input type="email" name="email" placeholder="Enter Your Email" required />
      </div>
      <div class="form-grp">
        <input type="password" name="password" placeholder="Enter Your Password" required />
      </div>
      <div class="form-grp">
        <input
          type="password"
          name="confirm_password"
          placeholder="Enter Your Confirm Password"
          required
        />
      </div>
      <div class="form-grp">
        <input type="submit" value="SIGN UP" />
      </div>
    </form>
  </div>
</main>
