<link rel="stylesheet" href="/css/sign.css" />
<main>
  <div id="container">
    <div id="left-container">
      <div>
        <a href="/"><img src="/images/logo1.png" /></a>
      </div>
      <p id="heading">Welcome !</p>
    </div>
    <div id="right-container">
      <div id="form">
        <form action="/users/create-session" method="POST">
          <%if((typeof err)!="undefined") {%>
          <h3 style="color: red;"><%=err%></h3>
          <%}%>
          <div class="form-grp">
            <input type="email" name="email" placeholder="Enter Your Email" required />
          </div>
          <div class="form-grp">
            <input type="password" name="password" placeholder="Enter Your Password" required />
          </div>
          <div class="form-grp">
            <input type="submit" value="SIGN IN" />
          </div>
        </form>
        <div id="social-login">
          <a href="/users/auth/google"><i class="fab fa-google"></i> Google</a>
        </div>
      </div>
      <div id="sign">
        <p id="heading">Register Yourself !</p>
        <div id="sign-btn"><a href="/users/sign-up">SIGN UP</a></div>
      </div>
    </div>
  </div>
</main>
